body {
    background-color: #fbc304;
}

hr {
    border-style: dotted none none;
    border-color: #a27340;
    border-width: 5px;
    width: 5%;
}

h1 {
    color: #434955;
}

h3 {
    color: #434955;
}

